@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow classes to be used by tailwind
 * (for example, allow tha dark: prefix to select a class when dark mode is toggled)
 */

@layer utilities {
  .hover-link {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: theme("colors.on-background.DEFAULT");

    &:hover {
      color: theme("colors.on-background.hover");
    }

    &-dark {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      color: theme("colors.on-background.dark.DEFAULT");

      &:hover {
        color: theme("colors.on-background.dark.hover");
      }
    }
  }
}

/* Set up rotation animation for background oval */
@keyframes rotate {
  from {
    scale: 1 1.75;
  }

  50% {
    rotate: 180deg;
    scale: 1 1.33;
  }

  to {
    rotate: 360deg;
    scale: 1 1.75;
  }
}

/* Turns a square into a rotating oval */
.rotating-oval {
  animation: rotate 20s linear infinite;
  scale: 1 1.75;
  border-radius: 50%;
}
