@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow classes to be used by tailwind
 * (for example, allow tha dark: prefix to select a class when dark mode is toggled)
 */

@layer utilities {
  .hover-link {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: theme("colors.on-background.DEFAULT");

    &:hover {
      color: theme("colors.on-background.hover");
    }

    &-dark {
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      color: theme("colors.on-background.dark.DEFAULT");

      &:hover {
        color: theme("colors.on-background.dark.hover");
      }
    }
  }
}

.project-card {
  transform-origin: 0px 5000px;
}

svg {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
